<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visited Places</title>
</head>
<body>

    <h1>Visited Places app</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, commodi, corporis eligendi est fuga in incidunt iste, libero mollitia nisi nobis porro qui repudiandae totam.</p>

</body>
</html>